<h1> Welcome to Novellia Pets! </h1>


<h3> Users can create pets and add medical records. </h3>
<%= link_to "Create a new pet", new_pet_path %>


<h3> Admin can view all pets and medical records. </h3>
<%= link_to "View all pets", pets_path %>